annotation_file   t/data/example_deago_annotation.tsv
counts_directory   t/data/example_counts
qvalue   0.05
results_directory   /Users/vo1/sanger-pathogens/perl/Bio-Deago
targets_file   t/data/example_targets.tsv
count_column    5
count_delim    ,
count_type    unknown
gene_ids    GeneID
go_analysis    1
go_levels    all
keep_images    1
qc_only    0
skip_lines    0
